.navbarSmItemStyle {
  background: #1f2937;
  width: 250px;
  position: absolute;
  right: 10px;
  top: 70px;
  padding: 20px 12px;
  z-index: 12;
}

.navbarSmItemStyle a {
  display: block;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .navbarSmItemStyle {
    display: inherit !important;
    position: inherit !important;
    margin-right: 120px !important;
  }

}
